body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  #buttons {
    text-align: center;
  }
  
  button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 10px 0; /* Adds space between buttons */
    border: none;
    cursor: pointer;
    border-radius: 15px; /* Makes buttons have rounded corners */
    width: 200px; /* Sets a fixed width for buttons */
  }
  button:hover {
    background-color: grey;
  }
  